@import '../../styles/common';

.task-list {
  background: $brand-color-white;
  border-radius: 5px;
  height: 290px;
  list-style: none;
  margin: 40px auto 0;
  padding: 25px 22px;
  width: 360px;
  overflow-y: auto;

  li {
    align-items: center;
    border-radius: 2px;
    border: solid 1px $brand-color-line-gray;
    color: $brand-color-text-gray;
    display: flex;
    font-size: $font-size-lg;
    height: 50px;
    justify-content: space-between;
    padding: 0 16px 0 10px;

    & + li {
      margin-top: 10px;
    }

    &:hover {
      .actions {
        display: flex;
      }
    }

    & > .icon-roundcheck {
      margin-right: 8px;
      font-size: 18px;
      color: $brand-color-primary;
    }

    .task-title {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 14em;
      flex-grow: 2;
    }

    .actions {
      align-items: center;
      display: none;

      .iconfont {
        cursor: pointer;
        color: $brand-color-text-gray-opacity;
        font-size: 20px;

        &:hover {
          color: $brand-color-text-gray;
        }

        & + .iconfont {
          margin-left: 8px;
        }
      }
    }
  }
}
