@import '../styles/common.scss';

.btn {
  background-image: none;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: $brand-font-size-base;
  font-weight: normal;
  height: 32px;
  line-height: $brand-line-height-base;
  padding: 0 15px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  white-space: nowrap;

  &.btn-default {
    background-color: $brand-color-white;
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.65);

    &:hover {
      border-color: $brand-color-primary;
      color: $brand-color-primary;
    }
  }

  &.btn-primary {
    background-color: $brand-color-primary;
    border-color: $brand-color-primary;
    color: $brand-color-white;

    &:hover,
    &:focus {
      background-color: $brand-color-primary-hover;
      border-color: $brand-color-primary-hover;
    }

    &:active {
      background-color: $brand-color-primary-active;
      border-color: $brand-color-primary-active;
    }
  }
}
