// colors
$brand-color-primary: #1890ff;

$brand-color-white: #fff;
$brand-color-black: #000;
$brand-color-line-gray: rgba($brand-color-black, 0.06);;
$brand-color-text-black: rgba(#262626, 0.4);
$brand-color-bg-gray: #f6f6f6;


$font-size-base: 14px;
$font-size-lg: 16px;
