// colors
$brand-color-primary: #1890ff;
$brand-color-primary-hover: lighten($brand-color-primary, 8);
$brand-color-primary-active: darken($brand-color-primary, 8);
$brand-color-white: #fff;

// line-height
$brand-line-height-base: 1.5;

// font-size
$brand-font-size-base: 14px;
